:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-bottom: 4rem;
}

img {
  display: block;
}

.container {
  max-width: 150rem;
  margin: 0 auto !important;
}

/* profile section */
.profile {
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-auto-rows: 1fr;
}

.profile-user {
  font-size: 1.5vw;
  grid-area: 2 / 3 / span 1 / span 2;
}

#prof-follow-btn {
  all: unset;
  background: #9faa9f;
  border: 0.1vw solid #2b372a;
  border-radius:  0.7vw;
  cursor: url(https://cdn.custom-cursor.com/db/18959/32/cute-cat-shell-pointer.png), pointer;
  height: 1.7vw;
  width: 6vw;
  text-align: center;
}

.profile-follow {
  position: relative;
  font-size: 1.3vw;
  grid-area: 2 / 4 / span 1 / span 1;
}

#prof-follow-btn:active {
  outline: 0.3rem #2b372a auto;
  background: #2b372a;
  color: #fff5c8;
}

#prof-follow-btn {
  position: absolute;
  bottom: 0;
}

.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25vw;
  min-height: 25vw;
  grid-area: 1 / 1 / span 2 / span 2;
}

.pfp img {
  margin-top: 4vw;
  width: 70%;
  height: 70%;
  top: 0;
  bottom: 0;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
}

.profile-stats {
  display: inline-block;
  position: relative;
  font-size: 1.8vw;
  margin-top: 1vw;
  grid-area: 3 / 3 / span 1 / span 2;
}

.profile-bio {
  font-size: 1.5vw;
  font-weight: 400;
  grid-area: 4 / 3 / span 1 / span 2;
}

.prof-name,
.profile-stat-count {
  font-weight: 600;
}


/* gallery section */
.decorative-line{
  background-color: rgba(43, 55, 42, 0.32);
  height: 1px;
  max-width: 150rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  display: flex;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  grid-gap: 0.7rem;
}

.gallery-item {
  position: relative;
}

.gallery-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


/* back to top */
html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4f644d;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  transition: opacity 0.3s ease;
}


/* scroll bar */
body::-webkit-scrollbar {
  display: inline-block;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff8e5;
}

::-webkit-scrollbar-thumb {
  background: #9fae9f;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f644d;
}
