html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: rgb(255, 248, 229);
  cursor: url(https://cdn.custom-cursor.com/db/18960/32/cute-cat-shell-cursor.png), default;
}

body::-webkit-scrollbar {
  display: none;
}

/* navbar stuff */
#navbar {
  width: 101vw;
  height: 4.5vw;
  background: rgb(185, 193, 185);
  display: flex;
  justify-content: space-evenly;
  margin-left: -0.5vw;
}

.navbar-text {
  color: #2b372a;
  font-size: 2.1vw;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.8vw;
  display: inline;
}

.navbar-text:hover {
  cursor: url(https://cdn.custom-cursor.com/db/18959/32/cute-cat-shell-pointer.png), pointer;
  color: #4f644d;
  text-shadow: 4px 4px #fff5c8;
  transition: 0.5s ease;
}

/* main content */
.header {
  display: flex;
  justify-content: center;
}

.header-text {
  color: #2b372a;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0.2vw 0.2vw #f3cbce;
}

.reg-text {
  color: #2b372a;
}

/* other */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* back to top */
html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  padding: 1vw;
  border-radius: 50%;
  cursor: url(https://cdn.custom-cursor.com/db/18959/32/cute-cat-shell-pointer.png), pointer;
  background-color: #fff8e5;
  z-index: 999;
  aspect-ratio: 1 / 1;
}

#to-top-btn {
  width: 1vw;
  height: 1vw;
  aspect-ratio: 1 / 1;
  display: block;
}

.back-to-top:hover {
  background-color: #f3cbce;
  box-shadow: 0 0 1vw #f3cbce;
  transition: 0.5s ease;
}
