
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: rgb(255, 248, 229);
  cursor: url(https://cdn.custom-cursor.com/db/18960/32/cute-cat-shell-cursor.png), default;
}

body::-webkit-scrollbar {
  display: none;
}

/* navbar stuff */
#navbar {
  width: 100%;
  height: 6vw;
  background: rgb(185, 193, 185);
  display: flex;
  justify-content: space-evenly;
}

.navbar-text {
  color: #2b372a;
  font-size: 2.5vw;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1.2vw;
  display: inline;
}

.navbar-text:hover {
  cursor: url(https://cdn.custom-cursor.com/db/18959/32/cute-cat-shell-pointer.png), pointer;
  color: #4f644d;
  text-shadow: 4px 4px #fff5c8;
}

/* main content */
.header {
  display: flex;
  justify-content: center;
}

.header-text {
  color: #2b372a;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 4px 4px #f3cbce;
}

/* other */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
