#proj-head {
  font-size: 2.5vw;
  text-align: center;
  margin-top: -2px;
}

.sad-ham {
  max-width: 5vw;
  max-height: 5vw;
  display: flex;
  margin-top: -8vw;
  margin-left: 54vw;
}

#sad-ham1 {
  margin-top: -8vw;
  margin-left: 54vw;
}

#sad-ham2 {
  margin-top: -5vw;
  margin-left: 40.3vw;
}

/* contact info */
.contact {
  text-align: right;
  flex: 0 0 auto;
  position: absolute;
  margin-top: -13vw;
  padding-left: 80vw;
  z-index: 3;
}

.contact-text {
  color: #2b372a;
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  cursor: url(https://cdn.custom-cursor.com/db/18959/32/cute-cat-shell-pointer.png), pointer
}

.contact-text:hover {
  color: #2b372a;
  text-shadow: 4px 4px #fff5c8;
}

/* project description */
.prj-info {
  display: flex;
  width: 75%;
  padding: 1% 5% 1% 5%;
  margin: 5% auto;
  border-radius: 5rem;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: #f8cbce;
  box-shadow: 0 0 1vw rgb(248, 203, 206);
}

#prj-info-txt {
  color: #2b372a;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: justify;
  text-shadow: 0.1vw 0.1vw #e2a9af;
}

#closing {
  float: right;
  text-align: right;
}




