#proj-head {
  font-size: 2.5vw;
  text-align: center;
  margin-top: -2px;
}

.sad-ham {
  max-width: 5vw;
  max-height: 5vw;
  display: flex;
  margin-top: -8vw;
  margin-left: 54vw;
}

#sad-ham1 {
  margin-top: -8vw;
  margin-left: 54vw;
}

#sad-ham2 {
  margin-top: -5vw;
  margin-left: 40.3vw;
}

/* contact info */
.contact {
  text-align: right;
  flex: 0 0 auto;
  position: absolute;
  margin-top: -13vw;
  padding-left: 80vw;
}

.contact-text {
  color: #2b372a;
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  cursor: url(https://cdn.custom-cursor.com/db/18959/32/cute-cat-shell-pointer.png), pointer;
}

.contact-text:hover {
  color: #2b372a;
  text-shadow: 4px 4px #fff5c8;
}

/* project description */
.prj-bg {
  max-width: 40vw;
  max-height: 40vw;
  flex: 0 0 auto;
  position: relative;
}

#prj-bg1 {
  margin-top: -10vw;
  padding-left: 4.5vw;
  z-index: -1;
}

.prj-info {
  display: inline-block;
  height: 35vw;
  width: 30vw;
  margin-left: -30vw;
  margin-top: -9vw;
  position: absolute;
}

#prj-info-txt {
  color: #2b372a;
  font-size: 1.3vw;
  font-weight: bold;
  text-shadow: 4px 4px #e2a9af;
}
